
<!DOCTYPE HTML>

<html>
<head>
    <title>AngularJs PUT Form Nested Object to SpringBoot Example</title>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.4/angular.min.js"></script>
    <script src="/js/myapp.js"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" />
</head>

<body>
<div class="container" ng-app="app" ng-controller="jsaController">
    <h3>Customer List:</h3>
    <div id="customerlist" class="row col-md-7 table-responsive">
        <table class="table table-bordered table-hover">
            <tr>
                <th>No</th>
                <th>Name</th>
                <th>Age</th>
                <th>Street</th>
                <th>PostCode</th>
            </tr>
            <tr ng-repeat="cust in listCustomers | orderBy : 'name'" ng-class-even="'info'" ng-class-odd="'success'">
                <td>{{ $index + 1 }}</td>
                <td>{{ cust.name | uppercase}}</td>
                <td>{{ cust.age}}</td>
                <td>{{ cust.address.street}}</td>
                <td>{{ cust.address.postcode}}</td>
            </tr>
        </table>
    </div>
</div>
</body>
</html>
